{% extends "layout.html" %}
  
{% block title %}{% endblock %}
{% block lead %}

<div class="d-flex justify-content-center">
  <div class="col igemthrace-image-container" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/wiki/spinning-dna-blue.gif');background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;">
    <div class="igemthrace-blur d-flex justify-content-center" style="width: 100%;height: 100%;align-items: center;">
      <h2 class="igemthrace-white-text-coloring igemthrace-bold-font">Our contribution for future iGEM teams</h2>
    </div>
  </div>
</div>


<!--
Make a useful contribution for future iGEM teams. Use this page to document that contribution.
-->
{% endblock %}

{% block page_content %}


<div class="container d-flex flex-column">

    
  <div class="igemthrace-space-height-2"></div>


  <div class="row igemthrace-blue-shadow p-3 rounded">
      <div class="col-md-4">
          <img src="https://static.igem.wiki/teams/4989/wiki/contribution.png" style="width: 100%;" alt="The Problem Image">
      </div>
      <div class="col-md-8">
          <h2 class="igemthrace-blue-text-coloring">Description</h2>
          <div class="igemthrace-space-height-2"></div>
          <p class="igemthrace-blue-text-coloring">Sharing is caring! So, iGEM Thrace 2023 decided to share some of the most valuable information we learned along the way. Following you can find:</p>
          <ul><ul>
            <li class="igemthrace-blue-text-coloring">A Handbook created by our dry lab dedicated to synthetic biology data analysis</li>
            <li class="igemthrace-blue-text-coloring">Some important tips and methods we learned while working with cell cultures</li>
            <li class="igemthrace-blue-text-coloring">Some important information about food-graded plasmids, if you ever wish to create your own probiotic as well!</li>
          </ul></ul>
          <p class="igemthrace-blue-text-coloring">Future iGEMers, we will be happy to answer any of the questions you may have! Feel free to message our social media! Good luck!</p>
      </div>
  </div>


  <div class="igemthrace-space-height-2"></div>


  <div class="row igemthrace-blue-shadow p-3 rounded">
          <h2 class="igemthrace-blue-text-coloring">Handbook for synthetic biology data analysis:</h2>
          <div class="igemthrace-space-height-2"></div>
          <object data="https://static.igem.wiki/teams/4989/wiki/data-analysis.pdf" type="application/pdf" width="800" height="900">
            <p>If you don't have a PDF plugin for this browser you can <a href="https://static.igem.wiki/teams/4989/wiki/data-analysis.pdf">click here to download the PDF file.</a></p>
        </object>

  </div>



  <div class="igemthrace-space-height-2"></div>


  <div class="row igemthrace-blue-shadow p-3 rounded">
    <h2 class="igemthrace-blue-text-coloring">Cell cultures:</h2>
    <div class="igemthrace-space-height-2"></div>
    <object data="https://static.igem.wiki/teams/4989/wiki/cell-calture-methods.pdf" type="application/pdf" width="800" height="900">
      <p>If you don't have a PDF plugin for this browser you can <a href="https://static.igem.wiki/teams/4989/wiki/cell-calture-methods.pdf">click here to download the PDF file.</a></p>
  </object>

</div>



  <div class="igemthrace-space-height-2"></div>


  <div class="row igemthrace-blue-shadow p-3 rounded">
    <h2 class="igemthrace-blue-text-coloring">Food-graded plasmids:</h2>
    <div class="igemthrace-space-height-2"></div>
    <object data="https://static.igem.wiki/teams/4989/wiki/nisin-system.pdf" type="application/pdf" width="800" height="900">
      <p>If you don't have a PDF plugin for this browser you can <a href="https://static.igem.wiki/teams/4989/wiki/nisin-system.pdf">click here to download the PDF file.</a></p>
  </object>

</div>





</div>

<!--
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Bronze Medal Criterion #4</h4>
      <p>Make a useful contribution for future iGEM teams. Use this page to document that contribution.<p>
      <p>If you are making a contribution by adding information to an existing Part or creating a new Part, you must document your contribution on the Part's Main Page on the <a href="http://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria. You can use this page to link to that part and include additional information about your contribution.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>
-->
{% endblock %}
