{% extends "layout.html" %}
  
{% block title %}{% endblock %}
{% block lead %}

<div class="">
  <div class="col igemthrace-image-container">
    <h2 class="igemthrace-white-text-coloring">See our engineering success !</h2>
  </div>
</div>

<!--
Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle.
-->
{% endblock %}

{% block page_content %}

<div class="container d-flex flex-column">
  <div class="row igemthrace-blue-shadow p-3 rounded">
    <h2 class="igemthrace-blue-text-coloring">Some Texi text</h2>
    <p class="igemthrace-blue-text-coloring">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis adipisci accusantium quia, libero optio inventore fugit, sapiente maxime doloremque ducimus velit nisi quae consectetur commodi necessitatibus asperiores similique tenetur? Atque!</p>
  </div>

  <div class="igemthrace-space-height-2"></div>

  <div class="row igemthrace-blue-shadow p-3 rounded">
      <h2 class="igemthrace-blue-text-coloring">Some Texi text</h2>
      <p class="igemthrace-blue-text-coloring">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum sequi quam, cupiditate at esse, non ea suscipit minus laudantium commodi eum amet maiores reprehenderit, quibusdam inventore. Porro nulla quasi veritatis!</p>
  </div>
</div>

<!--
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Silver Medal Criterion #1</h4>
      <p>Demonstrate engineering success in a part of your project by going through at least one iteration of the engineering design cycle. This achievement should be distinct from your Contribution for Bronze.<p>
      <p>If you plan to show engineering success by creating a new Part that has been shown to work as expected, you must document your contribution on the Part's Main Page on the <a href="http://parts.igem.org/Main_Page">Registry</a> for your team to be eligible for this criteria.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/medals">2023 Medals Page</a> for more information.</p>
    </div>
  </div>
</div>
-->
{% endblock %}
