{% extends "layout.html" %}
  
{% block title %}{% endblock %}
{% block lead %}

<div class="d-flex justify-content-center">
  <div class="col igemthrace-image-container" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/wiki/lab-book.gif');background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;">
    <div class="igemthrace-blur d-flex justify-content-center" style="width: 100%;height: 100%;align-items: center;">
      <h2 class="igemthrace-white-text-coloring igemthrace-bold-font">Read our Lab Book!</h2>
    </div>
  </div>
</div>

{% endblock %}

{% block page_content %}


<div class="row igemthrace-blue-shadow p-3 rounded">
  <h2 class="igemthrace-blue-text-coloring">Our Lab Book!</h2>
  <div class="igemthrace-space-height-2"></div>
  <object data="https://static.igem.wiki/teams/4989/wiki/labbook.pdf" type="application/pdf" width="800" height="1200">
    <p>If you don't have a PDF plugin for this browser you can <a href="https://static.igem.wiki/teams/4989/wiki/labbook.pdf">click here to download the PDF file.</a></p>
</object>

</div>

{% endblock %}
