{% extends "layout.html" %}
  
{% block title %}{% endblock %}
{% block lead %}

<div class="d-flex justify-content-center">
  <div class="col igemthrace-image-container" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/wiki/111.gif');background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;">
    <div class="igemthrace-blur d-flex justify-content-center" style="width: 100%;height: 100%;align-items: center;">
      <h2 class="igemthrace-white-text-coloring igemthrace-bold-font">Parts Collection</h2>
    </div>
  </div>
</div>

{% endblock %}

{% block page_content %}

<div class="container">
    <h3 class="igemthrace-blue-text-coloring igemthrace-light-font" style="text-align: center;">Basic Parts</h3>
        <div class="table-wrapper igemthrace-blue-shadow">
            <table class="fl-table">
                <thead>
                    <!-- Header of table -->
                <tr>
                    <th>No. Old parts</th>
                    <th>No. New parts</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>Length (bps)</th>
                    <th>Function</th>
                    <!-- end of Header -->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <!-- 1 line of table -->
                    <td>BBa_K1618040</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989000">BBa_K4989000</a></td>
                    <td>Αcetyl-CoA C acetyltransferase</td>
                    <td>iGEM 2015 NRP-UEA-Norwich.</td>
                    <td>1185</td>
                    <td style="inline-size: 150px;
                    overflow-wrap: break-word;">Catalyzes the first reaction of the butyrate-producing pathway.</td>
                    <!-- endo of 1 line of table -->
                </tr>
                <tr>
                    <!-- 2 line of table -->
                    <td>BBa_K1618041</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989001">BBa_K4989001</a></td>
                    <td>3-hydroxybutyryl-CoA dehydrogenase</td>
                    <td>iGEM 2015 NRP-UEA-Norwich.</td>
                    <td>873</td>
                    <td>Catalyzes the second reaction of the butyrate-producing pathway</td>
                    <!-- endo of 2 line of table -->
                </tr>
                <tr>
                    <!-- 3 line of table -->
                    <td>BBa_K1618042</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989002">BBa_K4989002</a></td>
                    <td>3-hydroxybutyryl-CoA dehydratase</td>
                    <td>iGEM 2015 NRP-UEA-Norwich.</td>
                    <td>792</td>
                    <td>Catalyzes the third reaction of the butyrate-producing pathway</td>
                    <!-- endo of 3 line of table -->
                </tr>
                <tr>
                    <!-- 4 line of table -->
                    <td>BBa_K1618043</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989003">BBa_K4989003</a></td>
                    <td>Butyryl-CoA dehydrogenase</td>
                    <td>iGEM 2015 NRP-UEA-Norwich.</td>
                    <td>1167</td>
                    <td>Catalyzes the fourth reaction of the butyrate-producing pathway</td>
                    <!-- endo of 4 line of table -->
                </tr>
                <tr>
                    <!-- 5 line of table -->
                    <td>BBa_K1618044</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989004">BBa_K4989004</a></td>
                    <td>Electron flavoprotein beta unit</td>
                    <td>iGEM 2015 NRP-UEA-Norwich.</td>
                    <td>786</td>
                    <td>Creates a complex with Butyryl-CoA dehydrogenase</td>
                    <!-- endo of 5 line of table -->
                </tr>
                <tr>
                    <!-- 6 line of table -->
                    <td>BBa_K1618045</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989005">BBa_K4989005</a></td>
                    <td>Electron flavoprotein alpha unit</td>
                    <td>iGEM 2015 NRP-UEA-Norwich.</td>
                    <td>1038</td>
                    <td>Creates a complex with Butyryl-CoA dehydrogenase</td>
                    <!-- endo of 6 line of table -->
                </tr>
                <tr>
                    <!-- 7 line of table -->
                    <td>BBa_K2052018</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989006">BBa_K4989006</a></td>
                    <td>Butyryl-CoA:Acetyl-CoA transferase</td>
                    <td>iGEM 2016 METU_HS_Ankara team</td>
                    <td>1344</td>
                    <td>Utilizes acetate and butyryl-CoA to produce  butyrate</td>
                    <!-- endo of 7 line of table -->
                </tr>
                <tr>
                    <!-- 8 line of table -->
                    <td><a href="http://parts.igem.org/Part:BBa_K2978211">BBa_K2978211</a></td>
                    <td>-</td>
                    <td>Terminator for Lactobacillus spp.</td>
                    <td> iGEM19_diffEASY</td>
                    <td>67</td>
                    <td>Special terminator for Lactobacillus species</td>
                    <!-- endo of 8 line of table -->
                </tr>
                <tr>
                    <!-- 9 line of table -->
                    <td><a href="http://parts.igem.org/Part:BBa_B0034">BBa_B0034</a></td>
                    <td>-</td>
                    <td>RBS</td>
                    <td>Antiquity Group  (2003-01-31)</td>
                    <td>12</td>
                    <td>General ribosome binding site</td>
                    <!-- endo of 9 line of table -->
                </tr>
                <tr>
                    <!-- 10 line of table -->
                    <td>-</td>
                    <td><a href="http://parts.igem.org/Part:BBa_K4989009">BBa_K4989009</a></td>
                    <td>GFP</td>
                    <td>Igem Thrace</td>
                    <td>717</td>
                    <td>Green fluorescent protein</td>
                    <!-- endo of 10 line of table -->
                </tr>
                <tbody>
            </table>
        </div>
    <div class="igemthrace-space-height-2"></div>
    <h3 class="igemthrace-blue-text-coloring igemthrace-light-font" style="text-align: center;">Composite parts</h3>    
    <div class="table-wrapper igemthrace-blue-shadow">
        <table class="fl-table">
            <thead>
                <!-- Header of table -->
            <tr>
                <th>No. Old parts</th>
                <th>No.New parts</th>
                <th>Name</th>
                <th>Team</th>
                <th>Length(bps)</th>
                <th>Function</th>
                <!-- end of Header -->
            </tr>
            </thead>
            <tbody>
            <tr>
                <!-- 1 line of table -->
                <td>-</td>
                <td><a href="http://parts.igem.org/Part:BBa_K4989010">BBa_K4989010</a></td>
                <td>ButCoaT+GFP</td>
                <td>Igem thrace</td>
                <td>2067</td>
                <td>Tagged transferase</td>
                <!-- endo of 1 line of table -->
            </tr>
            <tr>
                <!-- 2 line of table -->
                <td><a href="http://parts.igem.org/Part:BBa_K2253001">BBa_K2253001</a></td>
                <td>-</td>
                <td>P32+rbs</td>
                <td> iGEM17_Austin_UTexas</td>
                <td>153</td>
                <td>Promoter for Lactobacillus strains</td>
                <!-- endo of 2 line of table -->
            </tr>
            <tbody>
        </table>
    </div>
    <div class="igemthrace-space-height-2"></div>
    <h3 class="igemthrace-blue-text-coloring igemthrace-light-font" style="text-align: center;">Our new improved part that will be nominated for the gold medal is:</h3>
    <div class="d-flex justify-content-center">
        <a href="http://parts.igem.org/Part:BBa_K4989011"><h3 class="igemthrace-blue-text-coloring igemthrace-bold-font" style="text-align: center;">BBa_K4989011</h3></a>
    </div> 
</div>

{% endblock %}