{% extends "layout.html" %}
  
{% block title %}{% endblock %}
{% block lead %}
<div class="d-flex justify-content-center">
  <div class="col igemthrace-image-container" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/wiki/so.gif');background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;">
    <div class="igemthrace-blur d-flex justify-content-center" style="width: 100%;height: 100%;align-items: center;">
      <h2 class="igemthrace-white-text-coloring igemthrace-bold-font">Software - Depretect</h2>
    </div>
  </div>
</div>
<!--
Software in iGEM should make synthetic biology based on standard parts easier, faster, better or more accessible to our community.-->
{% endblock %}

{% block page_content %}








<div class="container" data-spy="scroll" data-target="#menuspy" data-offset="10">
  <div class="row">
    <nav class="col-2 igemthrace-menuspy" id="menuspy">
      <ul class="nav nav-pills nav-stacked d-flex flex-column igemthrace-blue-shadow rounded">
        <li class="active"><a href="#section1" class="igemthrace-blue-text-coloring">Introduction</a></li>
        <li><a href="#section2" class="igemthrace-blue-text-coloring">Therapy and Diagnosis</a></li>
        <li><a href="#section3" class="igemthrace-blue-text-coloring">Depretect and Nutrition</a></li>
        <li><a href="#section4" class="igemthrace-blue-text-coloring">Some technical details</a></li>
        <li><a href="#section5" class="igemthrace-blue-text-coloring">Privacy Policy</a></li>
      </ul>
    </nav>
  
  <div class="col">


      <div class="igemthrace-space-height-2"></div>


      <div id="section1" class="row igemthrace-nav-menu-content-spacer igemthrace-blue-shadow rounded">
        <div class="col-md-4">
          <img src="https://static.igem.wiki/teams/4989/wiki/depretect.png" style="width: 100%;" alt="The Problem Image">
        </div>
        <div class="col-md-8">
          <h2 class="igemthrace-blue-text-coloring">Introduction</h2>
          <div class="igemthrace-space-height-2"></div>
          <p class="igemthrace-blue-text-coloring">Aiming to improve the quality of life for patients suffering from depression, our team developed DEPRETECT. This AI-powered application can prove to be immensely valuable for the detection and monitoring of depression and its associated therapy. This application offers users a chatbot that engages them in conversations about their daily life .The chatbot uses questions from a well-known questionnaire in the field of depression detection and therapy, called QIDS-SR (Quick Inventory of Depressive Symptomatology). It screens for depression and assesses severity of depressive symptoms in clinical and research settings. The user's responses are then assessed using artificial intelligence techniques for natural language processing to determine if they may be experiencing symptoms of depression. </p>
          <p class="igemthrace-blue-text-coloring">Our app has been submitted for review in the Google Play Store. Currently, you can download it following the instructions in the readme file in the corresponding gitlab repository. The instructions are also attached <a href="https://static.igem.wiki/teams/4989/wiki/instructions.pdf" download><u>here.</u></a>.</p>
          <p class="igemthrace-blue-text-coloring">The source code is hosted on the dedicated repository on iGEM's GitLab. It is documented and made available under an OSI-approved open source license (MIT license).</p>

        </div>
      </div>
      

      <div class="igemthrace-space-height-2"></div>


      <div id="section2" class="row igemthrace-nav-menu-content-spacer igemthrace-blue-shadow rounded">
        <div class="col-md-4">
          <img src="https://static.igem.wiki/teams/4989/wiki/therapy-diagnosis.jpg" style="width: 100%;">
        </div>
        <div class="col-md-8">
          <h2 class="igemthrace-blue-text-coloring">Therapy and Diagnosis</h2>
          <div class="igemthrace-space-height-2"></div>
          <p class="igemthrace-blue-text-coloring">DEPRETECT could be used both for therapy monitoring and diagnosis. Our application enables the user to send his conversation with the chatbot to an expert. If this is done on a regular basis, then in this way a mental health expert could monitor through these dialogues the efficiency of the therapy. In terms of diagnosis, our app provides an estimation of the mental health of the user. However, as it is not fully reliable, It's important to note that our primary goal is not to replace mental health professionals but to complement their work and encourage users to seek expert assistance. To achieve this, the app allows users to share their chatbot conversations with a mental health exper, through a friendly e-mail interface. In addition to this, to encourage users to seek expert assistance, DEPRETECT recommends mental health experts in the area around the user.</p>
        
        </div>
      </div>


      
      <div class="igemthrace-space-height-2"></div>


      <div id="section3" class="row igemthrace-nav-menu-content-spacer igemthrace-blue-shadow rounded">
        <div class="col-md-4">
          <img src="https://static.igem.wiki/teams/4989/wiki/nutrition.png" style="width: 100%;">
        </div>
        <div class="col-md-8">
          <h2 class="igemthrace-blue-text-coloring">Depretect and nutrition</h2>
          <div class="igemthrace-space-height-2"></div>
          <p class="igemthrace-blue-text-coloring">DEPRETECT provides guidance on dietary choices that may contribute to improved mental health. Following one of our team's objectives to explore the connection between nutrition and depressive symptoms, our application, provides the user with dietary advice. Furthermore, after some conversations with experts, we realized that people who suffer from depression do not really take the time to think what they eat. As a result, our mobile app helps users to track their eating habits.</p>

        </div>
      </div>

      
      <div class="igemthrace-space-height-2"></div>


      <div id="section4" class="row igemthrace-nav-menu-content-spacer igemthrace-blue-shadow rounded">
        <div class="col-md-4">
          <img src="https://static.igem.wiki/teams/4989/wiki/net.png" style="width: 100%;">
        </div>
        <div class="col-md-8">
          <h2 class="igemthrace-blue-text-coloring">Some technical details</h2>
          <div class="igemthrace-space-height-2"></div>
          <p class="igemthrace-blue-text-coloring">The heart of our application is a neural network architecture, using LSTMs, in order to classify the texts of the user as depressive or not. After thorough examination of the bibliography, we gathered data from multiple datasets that are used academically for this purpose.</p>
          <p class="igemthrace-blue-text-coloring">We tried several neural architectures, some simpler and some more complex. We trained several FCNN architectures, that were not so effective. We also tried to use models with positional encodings and attention mechanism. However, they proved to be computationally “heavy” for our mobile application. The current architecture that we are using combines relatively high accuracy and computational efficiency.</p>
          <p class="igemthrace-blue-text-coloring">Being more specific, we tokenize the inputs and then we convert tokens into dense vectors using word embeddings (Embedding layer). Then we stack LSTM layers in order to capture sequential information. To prevent overfitting we apply dropout after each lstm layer.  After that, we apply fully connected dense layers. The last layer has a single neuron with a sigmoid activation function for binary classification.</p>
          <p class="igemthrace-blue-text-coloring">In order to develop and train the model, we used tensorflow. Then we used tensorflow lite in order to load our model to the Flutter application (Dart) we had created.</p>       
        </div>
      </div>

      
      
      <div class="igemthrace-space-height-2"></div>


      <div id="section5" class="row igemthrace-nav-menu-content-spacer igemthrace-blue-shadow rounded">
        <div class="col-md-4">
          <img src="https://static.igem.wiki/teams/4989/wiki/privacy.png" style="width: 100%; padding-top: 20px;">
        </div>
        <div class="col-md-8">
          <h2 class="igemthrace-blue-text-coloring">Privacy Policy</h2>
          <div class="igemthrace-space-height-2"></div>
          <p class="igemthrace-blue-text-coloring">There will be sure concerns about privacy. We fully understand this! As a result we engineered our application in a way that the users do not have any doubts about their personal data safety. We secured the users' data by developing a local database in order to store their answers, instead of storing them to the cloud. In addition to this, despite the difficulties we faced and the practices that are more commonly used, we deployed our neural network locally and did not use any cloud platforms, so that the leak of personal data is impossible. <a href="https://www.termsfeed.com/live/228004f5-f855-46ef-8fb7-0b34489c39bc"><u>Here</u></a> you can also find the Privacy Policy statement of our app.</p>        
        </div>
      </div>
      
      <div class="igemthrace-space-height-2"></div>

      <div class="row">
        <div class="container">
          <div class="igemthrace-carousel-container-6">
              <input type="radio" name="position-8" checked />
              <input type="radio" name="position-8"/>
              <input type="radio" name="position-8"/>
            <main id="igemthrace-carousel-6">
              <div class="igemthrace-carousel-item" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/screenshot1.jpg');background-repeat: no-repeat;
              background-size: contain;background-position: center;"></div>
              <div class="igemthrace-carousel-item" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/screenshot2.jpg');background-repeat: no-repeat;
              background-size: contain;background-position: center;"></div>
              <div class="igemthrace-carousel-item" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/screenshot3.jpg');background-repeat: no-repeat;
              background-size: contain;background-position: center;"></div>
            </main>
          </div>
        </div>
      </div>
      
      <div class="igemthrace-space-height-2"></div>

      <h4 class="igemthrace-blue-text-coloring">So, combining our probiotic with the DEPRETECT digital solution we offer a comprehensive set of tools for the surveillance of patients suffering from depression.</h4>















<!--
<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h4>Best Software Tool</h4>
      <p>Regardless what's the topic, iGEM projects often create or adapt computational tools to move the bigger project forward. Because they are born out of a direct practical need, these software tools (or new computational methods) can even prove surprisingly useful for others. Without necessarily being big or complex, they can make the crucial difference to a project's success. This award tries to find and honor such "nuggets" of computational work. To be eligible, your software has to be documented and made available under an OSI-approved open source license. Teams nominating themselves for this prize must host the source code of their software on the dedicated repository on iGEM's GitLab.</p>
      <p>To compete for the Best Software Tool prize, please describe your work on this page and also fill out the description on the <a href="https://competition.igem.org/deliverables/judging-form">judging form</a>.</p>
      <hr>
      <p>Please see the <a href="https://competition.igem.org/judging/awards">2023 Awards Page</a> for more information.</p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:Sydney_Australia/Software">2019 Sydney Australia</a></li>
      <li><a href="https://2019.igem.org/Team:SMMU-China/Software">2019 SMMU China</a></li>
      <li><a href="https://2019.igem.org/Team:Grenoble-Alpes/Software">2019 Grenoble Alpes</a></li>
      <li><a href="https://2020.igem.org/Team:DTU-Denmark/Software">2020 DTU Denmark</a></li>
      <li><a href="https://2020.igem.org/Team:GunnVistaPingry_US/Software">2020 GunnVistaPingry US</a></li>
      <li><a href="https://2020.igem.org/Team:Rochester/Software">2020 Rochester</a></li>
    </ul>
  </div>
</div>
-->
{% endblock %}
