{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block lead %}


<div class="d-flex justify-content-center">
  <div class="col igemthrace-image-container" style="background-image: url('https://static.igem.wiki/teams/4989/wiki/wiki/team-new.gif');background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;">
    <div class="igemthrace-blur d-flex justify-content-center" style="width: 100%;height: 100%;align-items: center;">
      <h2 class="igemthrace-white-text-coloring igemthrace-bold-font">Meet Our Team !!!</h2>
    </div>
  </div>
</div>


<!--
On this page you can introduce your team members, instructors, and advisors.
-->
{% endblock %}

{% block page_content %}

<div class="container">
  <div class="igemthrace-space-height-2"></div>

  <h2 class="text-center igemthrace-blue-text-coloring">Team Leaders</h2>
  <div class="igemthrace-space-height-2"></div>

  <div class="row d-flex justify-content-center tilt-in-fwd-br" id="#first">
    <div class="igemthrace-member-image igemthrace-border-right igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/adamantia.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-left rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Koulouri Adamantia</h3>
      <h4 class="igemthrace-blue-text-coloring">Team Leader & Wet Lab</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Molecular Biology and Genetics,</h6>
      <h6 class="igemthrace-blue-text-coloring">Democritus University of Thrace</h6>    
    </div>
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <div class="row d-flex justify-content-center tilt-in-fwd-bl igemthrace-flex-direction-reverse" id="#second">
    <div class="igemthrace-member-image igemthrace-border-left igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/sotiris.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-right rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Touliopoulos Sotiris</h3>
      <h4 class="igemthrace-blue-text-coloring">Team Leader & Dry Lab</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Molecular Biology and Genetics,</h6>
      <h6 class="igemthrace-blue-text-coloring">Democritus University of Thrace</h6>    
    </div>  
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <h2 class="text-center igemthrace-blue-text-coloring">Wet Lab</h2>
  <div class="igemthrace-space-height-2"></div>
  

  <div class="row d-flex justify-content-center tilt-in-fwd-br" id="#third">
    <div class="igemthrace-member-image igemthrace-border-right igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/athanasia.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-left rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Arampatzi Athanasia</h3>
      <h4 class="igemthrace-blue-text-coloring">Wet Lab</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Molecular Biology and Genetics,</h6>
      <h6 class="igemthrace-blue-text-coloring">Democritus University of Thrace</h6>    
    </div>
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <div class="row d-flex justify-content-center igemthrace-flex-direction-reverse animation-trigger" id="#fourth">
    <div class="igemthrace-member-image igemthrace-border-left igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/vaggelis.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-right rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Panagiotidis Vaggelis</h3>
      <h4 class="igemthrace-blue-text-coloring">Wet Lab</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Medicine,</h6>
      <h6 class="igemthrace-blue-text-coloring">Democritus University of Thrace</h6>    
    </div>  
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <div class="row d-flex justify-content-center tilt-in-fwd-br" id="#fifth">
    <div class="igemthrace-member-image igemthrace-border-right igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/christos.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-left rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Papoutsoudis Christos</h3>
      <h4 class="igemthrace-blue-text-coloring">Wet Lab</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Molecular Biology and Genetics,</h6>
      <h6 class="igemthrace-blue-text-coloring">Democritus University of Thrace</h6>    
    </div>
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <h2 class="text-center igemthrace-blue-text-coloring">Dry Lab</h2>
  <div class="igemthrace-space-height-2"></div>
  

  <div class="row d-flex justify-content-center igemthrace-flex-direction-reverse animation-trigger" id="#sixth">
    <div class="igemthrace-member-image igemthrace-border-left igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/spyros.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-right rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Koulouris Spyros</h3>
      <h4 class="igemthrace-blue-text-coloring">Dry Lab</h4>
      <h6 class="igemthrace-blue-text-coloring">School of Electrical and Computer Engineering,</h6>
      <h6 class="igemthrace-blue-text-coloring">National Technical University of Athens</h6>    
    </div>  
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <h2 class="text-center igemthrace-blue-text-coloring">Human Practices</h2>
  <div class="igemthrace-space-height-2"></div>
  

  <div class="row d-flex justify-content-center tilt-in-fwd-br" id="#seventh">
    <div class="igemthrace-member-image igemthrace-border-right igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/marilena.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-left rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Tsatsou Marilena</h3>
      <h4 class="igemthrace-blue-text-coloring">Human Practices</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Molecular Biology and Genetics,</h6>
      <h6 class="igemthrace-blue-text-coloring">Democritus University of Thrace</h6>    
    </div>
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <h2 class="text-center igemthrace-blue-text-coloring">Graphic Design</h2>
  <div class="igemthrace-space-height-2"></div>
  

  <div class="row d-flex justify-content-center igemthrace-flex-direction-reverse animation-trigger" id="#eighth" ">
    <div class="igemthrace-member-image igemthrace-border-left igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/dimitra.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-right rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Papalia Dimitra</h3>
      <h4 class="igemthrace-blue-text-coloring">Graphic Design</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Digital Media and Communication,</h6>
      <h6 class="igemthrace-blue-text-coloring">Ionian University</h6>    
    </div>  
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <h2 class="text-center igemthrace-blue-text-coloring">Web Development</h2>
  <div class="igemthrace-space-height-2"></div>
  

  <div class="row d-flex justify-content-center tilt-in-fwd-br" id="#nineth">
    <div class="igemthrace-member-image igemthrace-border-right igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/sevos.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-left rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Ioannidids Sevos</h3>
      <h4 class="igemthrace-blue-text-coloring">Web Development</h4>
      <h6 class="igemthrace-blue-text-coloring">School of Electrical and Computer Engineering,</h6>
      <h6 class="igemthrace-blue-text-coloring">National Technical University of Athens</h6>    
    </div>
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

  <h2 class="text-center igemthrace-blue-text-coloring">Fundraising</h2>
  <div class="igemthrace-space-height-2"></div>
  

  <div class="row d-flex justify-content-center igemthrace-flex-direction-reverse animation-trigger" id="#tenth">
    <div class="igemthrace-member-image igemthrace-border-left igemthrace-blue-shadow rounded" style="height: 500px; width: 500px">
      <img src="https://static.igem.wiki/teams/4989/wiki/margarita.jpg" style="max-width: 100%; max-height: 100%; display: block; margin: 0 auto;">
    </div>
    <div class="igemthrace-member-image igemthrace-border-right rounded igemthrace-blue-shadow igemthrace-flexbox igemthrace-collapse-item" style="height: 500px; width: 500px">
      <h3 class="igemthrace-blue-text-coloring">Geranopoulou Margarita</h3>
      <h4 class="igemthrace-blue-text-coloring">Fundraising</h4>
      <h6 class="igemthrace-blue-text-coloring">Department of Molecular Biology and Genetics,</h6>
      <h6 class="igemthrace-blue-text-coloring">Democritus University of Thrace</h6>    
    </div>  
  </div>

  <div class="igemthrace-space-2"><p></p>
  </div>

<script>

jQuery(function($) {

$('.animation-trigger').scroll(function() {

$('#seventh').addClass('tilt-in-fwd-bl');

});

});

</script>
<!--
<div class="row">
  <div class="col-8">
    <h2>What should this page contain?</h2>
    <hr>
    <ul>
      <li>Include pictures of your teammates, don't forget instructors and advisors!</li>
      <li>You can add a small biography or a few words from each team member, to tell us what you like, and what motivated you to participate in iGEM.</li>
      <li>Take team pictures! Show us your school, your lab and little bit of your city.</li>
      <li>Remember that image galleries can help you showcase many pictures while saving space.</li>
    </ul>
    <div class="bd-callout bd-callout-info"><strong>Important:</strong> Your wiki pages will be archived at the end of the iGEM season and this content will remain online. Please keep this in mind as you post photos and personal information on this page.</div>
  </div>
  <div class="col-4">
    <h2>Inspirations</h2>
    <hr>
    <ul>
      <li><a href="https://2019.igem.org/Team:CU/Team">2019 CU</a></li>
      <li><a href="https://2019.igem.org/Team:UANL/Team">2019 UANL</a></li>
      <li><a href="https://2019.igem.org/Team:William_and_Mary/Team">2019 William and Mary</a></li>
      <li><a href="https://2020.igem.org/Team:BOKU-Vienna/Team">2020 BOKU Vienna </a></li>
      <li><a href="https://2020.igem.org/Team:CAU_China/Team_Member">2020 CAU China</a></li>
      <li><a href="https://2020.igem.org/Team:Lethbridge/Members">2020 Lethbridge</a></li>
    </ul>
  </div>
</div>
-->
{% endblock %}
