:root{
    --blue_dark: #5474B4;
    --blue_open: #8BCBD3;
}

 
body { padding-top: 56px; }
.left-aligned { margin-left: auto; }
/*.bg-dark { background-color: #343a40 !important; } */
.bg-dark {background-color: var(--blue_dark) !important;}
.bg-hero { background-color: #45b06cff; }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }


/* ---------------- iGEMThrace style -------------------*/

/* home page styling */

/* iGEMThrace general styling classes */

.igemthrace-bold-font {
  font-weight: 800;
  font-size: 4rem;
}

.igemthrace-light-font {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.igemthrace-light-font-2 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.igemthrace-light-font-small-margin {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.igemthrace-button{
  background-color: #5474B4;
  width: auto;
  border-radius: 1rem;
  border: solid 1px #5474B4;
}

.igemthrace-button:hover{
  background-color: white;
  border: solid 1px #5474B4;
}

.igemthrace-button:hover a h3{
  color: #5474B4;
}

.igemthrace-button a{
  text-decoration: none;
}

.igemthrace-blue-text-coloring{
  color: var(--blue_dark);
}

.igemthrace-white-text-coloring{
  color: white;
}

.igemthrace-blue-background-coloring{
  background-color: var(--blue_dark);
}

.igemthrace-white-background-coloring{
  background-color: white;
}

.igemthrace-space-2{
    width: 1rem;
}

.igemthrace-space-height-2{
  height: 1.5rem;
}

h2{
  text-align: center;
}

.igemthrace-margin-5-per{
  margin: 5%;
}

.igemthrace-padding-5-per{
  padding: 2%;
}

.igemthrace-blue-shadow{
    box-shadow: 0 .1rem .5rem #5474B4 !important;
}

.igemthrace-member-image{
  height: 800px; 
  width: 800px
}

/* end of iGEMThrace general styling classes */

/* block lead styling */
.igemthrace-video-container{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .video-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .igemthrace-bg-hero{
    background-image: url("https://static.igem.wiki/teams/4989/wiki/wiki/new-homee.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .igemthrace-height-100vh{
    margin: auto;
  }

  .igemthrace-blur{
    background: rgba(84, 116, 180, 0.5);
    backdrop-filter: blur();
  }
  
  .content-container{
    height: 90vh;
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content-container a img{
    width: 200px;
    height: 200px;
  }
  
  .content-container-action a img{
    width: 50px;
    height: 50px;
  }

  /* end of block lead styling */

  /* project video section styling */

  .project-video-container{
    height: 90vh;
    width: 90vw;
  }

  /* end of project video section styling */

  /* statistics section styling */

  .statistics-container div img{
    width: 20%;
    height: 23%;
  }
  /* end of statistics section styling */

  /* current problem section styling */

    .current-problem-container{
        display: flex;
        justify-content: center;      
    }  

  /* end of current problem section styling */

  /* current treatment section styling */

  .current-treatment-container{
    display: flex;
    justify-content: center;    
  }

  /* end of current treatment section styling */

  /* our solution section styling */
  
  .our-solution-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .our-solution-container img{
    width: 50%;
    height: 50%;
    align-self: center;
  }

  .our-solution-container h3{
    text-align: center;
  }


  /* end of our solution section styling */

  /* useful links section styling */

  

  /* end of useful links section styling */

  /* end of iGEThrace home page styling */

  /* team page styling */

  /* lead block styling */

  .igemthrace-image-container{
    background-image: url("");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  /* end of lead block styling */

  /* iGEMThrace animations */
  
  .shake-vertical {
      -webkit-animation: shake-vertical 5s linear infinite ;
              animation: shake-vertical 5s linear infinite ;
  }
  
  /**
   * ----------------------------------------
   * animation shake-vertical
   * ----------------------------------------
   */
  @-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
  @keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }


  /* ------------- review -------------*/
  .igemthrace-member-image{
    height: 45vh;
    max-width: 40vw;
  }
  
  .igemthrace-border-right{
    border-right: 1px solid var(--blue_dark);
  }
  
  .igemthrace-border-left{
    border-left: 1px solid var(--blue_dark);
  }
  
  .igemthrace-flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .igemthrace-flex-direction-reverse{
    flex-direction: row-reverse;
  }
  
  
  .igemthrace-space-2{
    max-width: 2%;
  }
  
  .igemthrace-collapse-item{
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  
  .igemthrace-member-image:hover + .igemthrace-collapse-item{
    opacity: 1;
  }
  
  .tilt-in-fwd-br {
    -webkit-animation: tilt-in-fwd-br 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-fwd-br 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .tilt-in-fwd-bl {
    -webkit-animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tilt-in-fwd-bl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2023-8-11 17:20:40
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation tilt-in-fwd-br
   * ----------------------------------------
   */
  @-webkit-keyframes tilt-in-fwd-br {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
              transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-br {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
              transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2023-8-11 17:22:13
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation tilt-in-fwd-bl
   * ----------------------------------------
   */
  @-webkit-keyframes tilt-in-fwd-bl {
    0% {
      -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
              transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-bl {
    0% {
      -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
              transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  

  /* -----Description --------*/

  .container{
    position: relative;
  }
  
  ul.nav-pills{
    top: 48%;
    position: sticky;
  }

  ul.nav-pills li{
    text-align: center;
  }
  
  a{
   text-decoration: none; 
  }
  
  .igemthrace-nav-menu-content-spacer{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .igemthrace-nav-menu-content-spacer h1{
    text-align: center;
  }

  .igemthrace-coloring-menu{
    width: auto;
  }
  
  @media screen and (max-width: 810px) {
      #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8  {
        margin-left: 50px;
      }

      .igemthrace-menuspy{
        width: fit-content;
      }
    }

/* graph styling */

#eOkpQf0svRZ7:hover{
  background-color: white;
}

/* silver human practices page styling */
.igemthrace-box-info{
  width: 100%;
  height: 30rem;
}

.igemthrace-box-info-left{
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}

.igemthrace-box-info-right{
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}

.igemthrace-box-info-popup-image-style {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.igemthrace-box-info-image-style {
  width: 200px;
  height: 200px;
  object-fit: contain
}

.igemthrace-width{
  width: 100%;
}

.igemthrace-timeline-right{
  width: 10px;
  height: 100%;
  border-left: 5px solid #5474B4;
}

.igemthrace-timeline-left{
  width: 10px;
  height: 100%;
  border-radius: 2rem;
  border-right: 5px solid #5474B4;
}

.igemthrace-bold{
  font-weight: bold;
}

.igemthrace-short-note-container{
  margin: 3%;
}

.igemthrace-border{
  border: 1px solid blue;
}

  /* infobox styling */
  
  .igemthrace-coloring-structure{
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .igemthrace-is-color{
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
  }
  
  .igemthrace-red-coloring{
    background-color: rgba(222,99,99,0.5);
  }
  
  .igemthrace-green-coloring{
    background-color: rgba(0,255,12,0.5);
  }
  
  .igemthrace-blue-coloring{
    background-color: rgba(137,148,236,0.5);
  }

  .igemthrace-orange-coloring{
    background-color: rgba(255,186,0,0.5);
  }

  .igemthrace-purple-coloring{
    background-color: rgba(208,103,227,0.5);
  }

  .igemthrace-yellow-coloring{
    background-color: rgba(217,222,97,0.5);
  }
  
  a{
    display:inline-block;
    text-decoration: none;
    color: var(--blue_dark);
    padding: 10px;
  }
  
  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 300ms ease-in;
    -moz-transition: opacity 300ms ease-in;
    transition: opacity 300ms ease-in;
    pointer-events: none;
  }
  
  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  
  .modalDialog > div {
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
  }
  
  .close {
    padding: 0;
    color: white;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    background:none;
    font-weight: bold;
  }
  
  .close:hover { 
  color: white;
  }

  /* end of infobox styling */

/* end of styling silver-human-practices */

/* start of styling education&public engagement */

.igemthrace-carousel-container-3 {
  height: 80%;
  margin: 0;
  display: grid;
  grid-template-rows: 630px 100px;
  grid-template-columns: 1fr 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.igemthrace-carousel-container-6 {
  height: 80%;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.igemthrace-carousel-container-7 {
  height: 80%;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.igemthrace-carousel-container-8 {
  height: 80%;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.igemthrace-carousel-container-9 {
  height: 80%;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#igemthrace-carousel-6 {
  grid-row: 1/2;
  grid-column: 1/9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 6;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

main#igemthrace-carousel-7 {
  grid-row: 1/2;
  grid-column: 1/10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 7;
  --middle: 4;
  --position: 1;
  pointer-events: none;
}

main#igemthrace-carousel-8 {
  grid-row: 1/2;
  grid-column: 1/11;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 8;
  --middle: 4;
  --position: 1;
  pointer-events: none;
}

main#igemthrace-carousel-9 {
  grid-row: 1/2;
  grid-column: 1/12;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 9;
  --middle: 5;
  --position: 1;
  pointer-events: none;
}

main#igemthrace-carousel-3 {
  grid-row: 1/2;
  grid-column: 1/4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 3;
  --middle: 2;
  --position: 1;
  pointer-events: none;
}

div.igemthrace-carousel-item {
  position: absolute;
  width: 80%;
  height: 90%;
  background-color: rgba(84, 116, 180, 0.2);
    --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  opacity: 0.2;
}

div.igemthrace-carousel-item-post {
  position: absolute;
  width: 80%;
  height: 90%;
  background-color: #ffffff00;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  opacity: 0.2;
}

div.igemthrace-carousel-item:nth-of-type(1){
  --offset: 1;
}

div.igemthrace-carousel-item:nth-of-type(2){
  --offset: 2;
}

div.igemthrace-carousel-item:nth-of-type(3){
  --offset: 3;
}

div.igemthrace-carousel-item:nth-of-type(4){
  --offset: 4;
}

div.igemthrace-carousel-item:nth-of-type(5){
  --offset: 5;
}

div.igemthrace-carousel-item:nth-of-type(6){
  --offset: 6;
}

div.igemthrace-carousel-item:nth-of-type(7){
  --offset: 7;
}

div.igemthrace-carousel-item:nth-of-type(8){
  --offset: 8;
}

div.igemthrace-carousel-item:nth-of-type(9){
  --offset: 9;
}

div.igemthrace-carousel-item-post:nth-of-type(1){
  --offset: 1;
}

div.igemthrace-carousel-item-post:nth-of-type(2){
  --offset: 2;
}

div.igemthrace-carousel-item-post:nth-of-type(3){
  --offset: 3;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#igemthrace-carousel-6 {
  --position: 1;
  opacity: 1;
}

input:nth-of-type(1):checked ~ main#igemthrace-carousel-7 {
  --position: 1;
  opacity: 1;
}

input:nth-of-type(1):checked ~ main#igemthrace-carousel-8 {
  --position: 1;
  opacity: 1;
}

input:nth-of-type(1):checked ~ main#igemthrace-carousel-9 {
  --position: 1;
  opacity: 1;
}

input:nth-of-type(1):checked ~ main#igemthrace-carousel-3 {
  --position: 1;
  opacity: 1;
}

input:nth-of-type(1):checked ~ main div.igemthrace-carousel-item:nth-of-type(1) {
  opacity: 1;
}

input:nth-of-type(1):checked ~ main div.igemthrace-carousel-item-post:nth-of-type(1) {
  opacity: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked ~ main#igemthrace-carousel-6 {
  --position: 2;
  opacity: 1;
}

input:nth-of-type(2):checked ~ main#igemthrace-carousel-7 {
  --position: 2;
  opacity: 1;
}

input:nth-of-type(2):checked ~ main#igemthrace-carousel-8 {
  --position: 2;
  opacity: 1;
}

input:nth-of-type(2):checked ~ main#igemthrace-carousel-9 {
  --position: 2;
  opacity: 1;
}

input:nth-of-type(2):checked ~ main#igemthrace-carousel-3 {
  --position: 2;
  opacity: 1;
}

input:nth-of-type(2):checked ~ main div.igemthrace-carousel-item:nth-of-type(2) {
  opacity: 1;
}

input:nth-of-type(2):checked ~ main div.igemthrace-carousel-item-post:nth-of-type(2) {
  opacity: 1;
}

input:nth-of-type(3) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked ~ main#igemthrace-carousel-6 {
  --position: 3;
  opacity: 1;
}

input:nth-of-type(3):checked ~ main#igemthrace-carousel-7 {
  --position: 3;
  opacity: 1;
}

input:nth-of-type(3):checked ~ main#igemthrace-carousel-8 {
  --position: 3;
  opacity: 1;
}

input:nth-of-type(3):checked ~ main#igemthrace-carousel-9 {
  --position: 3;
  opacity: 1;
}

input:nth-of-type(3):checked ~ main#igemthrace-carousel-3 {
  --position: 3;
  opacity: 1;
}

input:nth-of-type(3):checked ~ main div.igemthrace-carousel-item:nth-of-type(3) {
  opacity: 1;
}

input:nth-of-type(3):checked ~ main div.igemthrace-carousel-item-post:nth-of-type(3) {
  opacity: 1;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked ~ main#igemthrace-carousel-6 {
  --position: 4;
  opacity: 1;
}

input:nth-of-type(4):checked ~ main#igemthrace-carousel-7 {
  --position: 4;
  opacity: 1;
}

input:nth-of-type(4):checked ~ main#igemthrace-carousel-8 {
  --position: 4;
  opacity: 1;
}

input:nth-of-type(4):checked ~ main#igemthrace-carousel-9 {
  --position: 4;
  opacity: 1;
}

input:nth-of-type(4):checked ~ main div.igemthrace-carousel-item:nth-of-type(4) {
  opacity: 1;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked ~ main#igemthrace-carousel-6 {
  --position: 5;
  opacity: 1;
}

input:nth-of-type(5):checked ~ main#igemthrace-carousel-7 {
  --position: 5;
  opacity: 1;
}

input:nth-of-type(5):checked ~ main#igemthrace-carousel-8 {
  --position: 5;
  opacity: 1;
}

input:nth-of-type(5):checked ~ main#igemthrace-carousel-9 {
  --position: 5;
  opacity: 1;
}

input:nth-of-type(5):checked ~ main div.igemthrace-carousel-item:nth-of-type(5) {
  opacity: 1;
}

input:nth-of-type(6) {
  grid-column: 7 /8;
  grid-row: 2 / 3;
}

input:nth-of-type(6):checked ~ main#igemthrace-carousel-6 {
  --position: 6;
  opacity: 1;
}

input:nth-of-type(6):checked ~ main#igemthrace-carousel-7 {
  --position: 6;
  opacity: 1;
}

input:nth-of-type(6):checked ~ main#igemthrace-carousel-8 {
  --position: 6;
  opacity: 1;
}

input:nth-of-type(6):checked ~ main#igemthrace-carousel-9 {
  --position: 6;
  opacity: 1;
}

input:nth-of-type(6):checked ~ main div.igemthrace-carousel-item:nth-of-type(6) {
  opacity: 1;
}

input:nth-of-type(7) {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}

input:nth-of-type(7):checked ~ main#igemthrace-carousel-6 {
  --position: 7;
  opacity: 1;
}

input:nth-of-type(7):checked ~ main#igemthrace-carousel-7 {
  --position: 7;
  opacity: 1;
}

input:nth-of-type(7):checked ~ main#igemthrace-carousel-8 {
  --position: 7;
  opacity: 1;
}

input:nth-of-type(7):checked ~ main#igemthrace-carousel-9 {
  --position: 7;
  opacity: 1;
}

input:nth-of-type(7):checked ~ main div.igemthrace-carousel-item:nth-of-type(7) {
  opacity: 1;
}

input:nth-of-type(8) {
  grid-column: 9 / 10;
  grid-row: 2 / 3;
}

input:nth-of-type(8):checked ~ main#igemthrace-carousel-6 {
  --position: 8;
  opacity: 1;
}

input:nth-of-type(8):checked ~ main#igemthrace-carousel-7 {
  --position: 8;
  opacity: 1;
}

input:nth-of-type(8):checked ~ main#igemthrace-carousel-8 {
  --position: 8;
  opacity: 1;
}

input:nth-of-type(8):checked ~ main#igemthrace-carousel-9 {
  --position: 8;
  opacity: 1;
}

input:nth-of-type(8):checked ~ main div.igemthrace-carousel-item:nth-of-type(8) {
  opacity: 1;
}

input:nth-of-type(9) {
  grid-column: 10 / 11;
  grid-row: 2 / 3;
}

input:nth-of-type(9):checked ~ main#igemthrace-carousel-6 {
  --position: 9;
  opacity: 1;
}

input:nth-of-type(9):checked ~ main#igemthrace-carousel-7 {
  --position: 9;
  opacity: 1;
}

input:nth-of-type(9):checked ~ main#igemthrace-carousel-8 {
  --position: 9;
  opacity: 1;
}

input:nth-of-type(9):checked ~ main#igemthrace-carousel-9 {
  --position: 9;
  opacity: 1;
}

input:nth-of-type(9):checked ~ main div.igemthrace-carousel-item:nth-of-type(9) {
  opacity: 1;
}

/* end of styling education&public engagement */
     

/* parts-collection table styling */

.table-wrapper{
  margin: 10px 70px 70px;
  /*box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );*/
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  /*white-space: nowrap;*/
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}


/* end of parts-collection table styling */

/* engineering style */

.igemthrace-engineering-button {
  width: fit-content;
  background-color: #5474B4;
  color: white;
  border: 1px solid #5474B4;
  border-radius: 1rem;
  transition: all 0.3s linear;
  margin: 1rem;
  cursor: pointer;
}

.igemthrace-engineering-button:hover{
  background-color: white;
  color: #5474B4;
}

.igemthrace-is-hidden {
  display: none;
}

/* end of engineering style */